@model UsuarioModelConjut
@{
    ViewData["Title"] = "Usuario Do Sistema";
}

<!--Campo de pesquisa  de usuario-->
<div class="form-div-primary">
    <form class="Form-Primary">
        <input class="input-form-primary" type="text" placeholder="Nome" />
        <input class="input-form-second" type="email" placeholder="E-mail" />
        <button class="btn-usuario-primary">
            PESQUISAR
        </button>
    </form>
</div>

@if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn-cadastrar btn-success btn-sm close-alert" arial-label="Close">X</button>
                @TempData["MensagemSucesso"]
            </div>

        }
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn-cadastrar btn-danger btn-sm close-alert" arial-label="Close">X</button>
                 @TempData["MensagemErro"]
            </div>

        }

<div class="container text-center containerConfig ">
    <div class="BodyUsuario">

        <Grid class="container-grid">
            <div class="Container-body-grid-primary-modal">

                <!--button-Abrir Modal de criar usuario-->
                <button class="btn-modal-open" asp-controller="UsuarioDoSistema" asp-action="Criar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    +
                </button>
                <button class="btn-modal-open-responsivo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Cadastrar Usuário
                </button>
                @Html.Partial("Criar", Model.UsuarioModel) <!--modal-Criar-Usuario-->


            </div>
            <div class="Container-body-grid-primary">
                <p class="container-grid-mail">Nome</p>
            </div>
            <div class="Container-body-grid-primary">
                <p class="container-grid-mail">E-mail</p>
            </div>
        </Grid>
        

        <!--Listagem de Usuario no Grid-->
        @if (Model != null && Model.ListUsuario.Any())
        {
            foreach (var usuario in Model.ListUsuario)
            {
                <Grid class='GridArry'>
                    <div class='GridTable'>
                        <div class='GridBtnEdit'>
                            <button class='BtnGridEdit btn-total-usuario' usuario-id="@usuario.IdUsuario" data-bs-toggle="modal" data-bs-target="#modaleditar"> Editar </button>

                            <button class='BtnGridEditExcluir btn-total-usuario-delete' usuario-delete="@usuario.IdUsuario" data-bs-toggle="modal" data-bs-target="#modalexclusao">Excluir</button>
                        </div>

                        <div class="container-grid-mail-centro-nome"><span class='NomeSpan'>Nome:</span><span>@usuario.Nome</span></div>
                        <div class="container-grid-mail-centro"><span class='NomeSpan'>Email:</span><span>@usuario.Email</span></div>
                        <div class="Btn-grid-centro">
                            <button class="btn-green btn-total-usuario" usuario-id="@usuario.IdUsuario" data-bs-toggle="modal" data-bs-target="#modaleditar">Editar</button>
                            <button class="btn-red btn-total-usuario-delete" usuario-delete="@usuario.IdUsuario" data-bs-toggle="modal" data-bs-target="#modalexclusao">Excluir</button>
                        </div>
                    </div>

                </Grid>
            }

        }

    </div>
</div>


<div class="modal fade" id="modaleditar" tabindex="-1" aria-labelledby="modaleditarlabel" aria-hidden="true">
    <div class="modal-dialog" id="dados">
        <!--ajax carrega a view editar-->
    </div>
</div>

<div class="modal fade" id="modalexclusao" tabindex="-1" aria-labelledby="modalexclusaolabel" aria-hidden="true">
    <div class="modal-dialog" id=dadosdelete>
        <!--ajax carrega a view delete-->
    </div>
</div>



